body {
    width: 2560px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.FIRST_SCREEN {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen1.png);
}
.Title_Folder {
    display: flex;
    flex-direction: column;
}
.Folder {   
    margin-top: 96px;
    width:  1210px;
    height: 962px;
    background-image: url(../assets/Folder.svg);

}
.Title {
    position: absolute;
    inset-inline-start: 89px;
    inset-block-start: 208px;
    
}
.Title_text {
    font-family: "Proxima Nova Bold";
    color:black;
    font-size: 265px;
    line-height: 85%;

}
.Print_in_Folder {
    position: absolute;
    inset-inline-start: 89px;
    inset-block-start: 877px;
    
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.text_Print {
    font-family: "Proxima Nova Bold";
    color:#B02F1C;
    font-size: 50px;
}
.Bookmarks {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 27px;     
}
.Bookmark {
    font-family: "Proxima Nova Bold";
    font-size: 50px;
    /* transform: rotate(90deg); */
    /* rotate: 90deg; */
    writing-mode: vertical-rl;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    /* background-image: url(../assets/Bookmark1.svg); */
    background-color: #F5F0DD;
    padding: 40px 13px;
}
.Vinil {
    margin-top: 50px;
    width: 1262px;
    height: 1500px;
    background-image: url(../assets/Vinil.svg);
}
.SECOND_SCREEN {
    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen2.png);

    display: flex;
    justify-content: center;
    align-items: center;
}
.ID-CARD {
    position: relative;

    width: 1991px;
    height: 1336px;
    background-color: #F5F0DD;
    border-radius: 57px;
    border-style:solid;
    border-color: black;
    border-width: 30px;
}
.ID_title {
    font-family: "Proxima Nova Bold";
    font-size: 70px;
    color: black;
}
#TitleOnCard {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    top: 26px;

    width: 1040px;
    height: 140px;
    background-color: #FFFFFF;
    border-radius: 17px;
    border-style:solid;
    border-color: black;
    border-width: 3px;

}
#TitlePosition {
    position: absolute;
    left: 47px;
    top: 26px;
}
#NameOnCard {
    position: absolute;
    left: 40px;
    top: 223px;
}
#SurnameOnCard {
    position: absolute;
    left: 549px;
    top: 223px;
}
.ID_names {
    font-family: "Proxima Nova Regular";
    font-size: 48px;
    color: black;
}
#Name {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    top: 308px;

    width: 328px;
    height: 97px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border-style:solid;
    border-color: black;
    border-width: 3px;
}
#NamePosition {
    position: absolute;
    left: 34px;
    top: 17px;
}
#Surname {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 548px;
    top: 308px;

    width: 465px;
    height: 97px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border-style:solid;
    border-color: black;
    border-width: 3px;
}
#SurnamePosition {
    position: absolute;
    left: 34px;
    top: 17px;
}
#DescriptionOnCard {
    position: absolute;
    left: 40px;
    top: 553px;
}
.ID_description {
    font-family: "Proxima Nova Regular";
    font-size: 60px;
    color: black;
    line-height: 73px;
}
#Description {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    top: 635px;

    width: 1555px;
    height: 594px;
    background-color: #FFFFFF;
    border-radius: 12px;
    border-style:solid;
    border-color: black;
    border-width: 3px;
}
#DescriptionPosition {
    position: absolute;
    left: 20px;
    top: 42px;
}
#ProfilePhotoOnCard {
    position: absolute;
    right: -14px;
    top: -14px;

    width: 653px;
    height: 586px;
    background-color: #A82D1B;
    border-radius: 27px;
    border-style:solid;
    border-color: black;
    border-width: 10px;
}
#ProfilePhoto {
    position: absolute;
    left: 1421px;
    top: 63px;
}
#ChipOnCard {
    position: absolute;
    left: 1099px;
    top: 35px;
}
#HoleOnCard {
    position: absolute;
    left: -99px;
    top: 588px;

    width: 120px;
    height: 120px;
    background-color: #0B0073;
    border-radius: 1000px;
    border-style:solid;
    border-color: black;
    border-width: 20px;
}
.THIRD_SCREEN {
    position: relative;

    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen3.png);
}
#Displays_position {
    position: absolute;
    top: 0px;
}
.Standart_h1 {
    font-size: 100px;
    color:#FFFFFF;
}
#Standart_Title {
    text-align: center;
    position: absolute;
    left: 988px;
    top: 685px;
    
    font-family: "Proxima Nova Bold";
}
#Standart_Thin {
    position: absolute;
    left: 400px;
    top: 340px;
    
    font-family: "Proxima Nova Thin";
}
#Standart_Light {
    position: absolute;
    left: 344px;
    top: 730px;
    
    font-family: "Proxima Nova Light";
}
#Standart_Regular {
    position: absolute;
    left: 331px;
    top: 1117px;
    
    font-family: "Proxima Nova Regular";
}
#Standart_Semibold {
    position: absolute;
    left: 1855px;
    top: 332px;
    
    font-family: "Proxima Nova Semibold";
}
#Standart_Bold {
    position: absolute;
    left: 2013px;
    top: 721px;
    
    font-family: "Proxima Nova Bold";
}
#Standart_Bold {
    position: absolute;
    left: 2013px;
    top: 721px;
    
    font-family: "Proxima Nova Bold";
}
#Standart_Extrabold {
    position: absolute;
    left: 1846px;
    top: 1130px;
    
    font-family: "Proxima Nova Extrabold";
}
#Standart_Black {
    position: absolute;
    left: 1153px;
    top: 1280px;
    
    font-family: "Proxima Nova Black";
}
.THOURTH_SCREEN {
    position: relative;

    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen4.png);
}
#Italic_folder {
    position: absolute;
    left: 720px;
    top: 24px;
    z-index: 1;
}
#Italic_Thin {
    position: absolute;
    left: 1334px;
    top: 624px;
    z-index: 3;
}
#Italic_Light {
    position: absolute;
    left: 397px;
    top: 201px;
    z-index: 2;
}
#Italic_Regular {
    position: absolute;
    left: 531px;
    top: 659px;
    z-index: 3;
}
#Italic_Semibold {
    position: absolute;
    left: 96px;
    top: 499px;
    z-index: 4;
}
#Italic_Bold {
    position: absolute;
    left: 1805px;
    top: 396px;
    z-index: 2;
}
#Italic_Extrabold {
    position: absolute;
    left: 1720px;
    top: 855px;
    z-index: 4;
}
#Italic_Black {
    position: absolute;
    left: 937px;
    top: 767px;
    z-index: 5;
}
.THITH_SCREEN {
    position: relative;

    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen5.png);
}
#China_Astronaut {
    position: absolute;
    left: 47px;
    top: 178px;
}
#Russia_Astronaut {
    position: absolute;
    left: 735px;
    top: 360px;
}
#USA_Astronaut {
    position: absolute;
    left: 1353px;
    top: 47px;
}
#Banner_Text {
    position: absolute;
    left: 1450px;
    top: 430px;
    transform: rotate(-20deg);

    font-family: "Proxima Nova Bold";
    font-size: 40px;
    color: #FFFFFF;
}
.SIXTH_SCREEN {
    position: relative;
    
    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen6.png);
}
.Gliphs {
    margin-top: 124px;
    position: relative;

    background-color: #690000;
    width: 485px;
    height: 524px;
}
#Gliphs_Text {
    position: absolute;
    left: 49px;
    top: 79px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-family: "Proxima Nova Bold";
    color: #FFFFFF;
}
#G_title {
    font-size: 100px;
}
#G_description {
    font-size: 40px;
    line-height: 120%;
}
#Control_Computer {
    position: absolute;
    bottom: 0;
    left: 249px;
}
.SEVENTH_SCREEN {
    position: relative;

    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen7.png);
}
#Open_Folder {
    position: absolute;
    left: 462px;
    top: 201px;
}
.fraction {
    font-variant-numeric: diagonal-fractions;
    font-family: "Proxima Nova Regular";
    font-size: 200px;
}
.h1_italic {
    font-family: "Proxima Nova Bold Italic";
    font-size: 100px;
}
#Ligatures {
    position: absolute;
    left: 647px;
    top: 324px;
}
#Fractions {
    position: absolute;
    left: 1483px;
    top: 324px;
}
.ligature {
    font-family: "Proxima Nova Regular";
    font-size: 170px;
}
#frac1 {
    position: absolute;
    left: 1440px;
    top: 1047px;
}
#frac2 {
    position: absolute;
    left: 1690px;
    top: 623px;
}
#lig1 {
    position: absolute;
    left: 680px;
    top: 625px;
}
#lig2 {
    position: absolute;
    left: 950px;
    top: 825px;
}
#lig3 {
    position: absolute;
    left: 640px;
    top: 1070px;
}
.EIGHTH_SCREEN {
    position: relative;

    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen8.png);
}
#Paper_1 {
    position: absolute;
    left: 14px;
    top: 123px;
}
#Paper_2 {
    position: absolute;
    left: 153px;
    top: 27px;
}
#Paper_3 {
    position: absolute;
    left: 334px;
    top: 375px;
}
#Paper_4 {
    position: absolute;
    left: 523px;
    top: 338px;
}
#Card_1 {
    position: absolute;
    left: 108px;
    top: 274px;
}
#Card_2 {
    position: absolute;
    left: 211px;
    top: 849px;
}
#Card_3 {
    position: absolute;
    left: 385px;
    top: 1159px;
}
#Card_4 {
    position: absolute;
    left: 1155px;
    top: 84px;
}
#Card_5 {
    position: absolute;
    left:398px;
    top: 312px;
}   
#Card_6 {
    position: absolute;
    left: 1246px;
    top: 1166px;
}
#Card_7 {
    position: absolute;
    left: 810px;
    top: 917px;
}
#Card_8 {
    position: absolute;
    left: 1405px;
    top: 506px;
}
#Using {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    margin-top: 179px;
    gap: 68px;
}
#Using_Title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Proxima Nova Bold";
    background-color: #690000;
    width: 802px;
    height: 261px;
}
#Usings {
    display: flex;
    flex-direction: column;
    gap: 73px;
    margin-left: 275px;

    font-family: "Proxima Nova Bold";
    color: #FFFFFF;
    font-size: 40px;
    line-height: 120%;
}
.NINTH_SCREEN {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 1600px;
    background-image: url(../assets/Screen9.png);
}
#Dead_Astr {
    position: absolute;
    bottom: 0px;
}
#Astr_Inf {
    position: absolute;
    left: 699px;
    top: 1363px;
    display: flex;
    flex-direction: row;
    gap: 278px;
}
#Astr_Name {
    font-family: "Proxima Nova Regular";
    font-size: 75px;
    color: black;
}



